<blog-title></blog-title>

<div class="container">
    <div class="articles">
        <div class="articles_left">

            <left-card id="1">
            </left-card>

            <left-card id="1">
            </left-card>


        </div>


        <div class="side_cards">

            <div class="articles_right">
                <right-card id="2"
                    photo="https://images.unsplash.com/photo-1693497409545-baa678088069?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fHx8&auto=format&fit=crop&w=700&q=60"
                    cardTitle="Ride to Freedom: Desvendando Histórias nos Parques de Diversão">
                </right-card>

                <right-card id="3"
                    photo="https://images.unsplash.com/photo-1693497409545-baa678088069?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fHx8&auto=format&fit=crop&w=700&q=60"
                    cardTitle="Ride to Freedom: Desvendando Histórias nos Parques de Diversão">
                </right-card>

                <right-card id="4"
                    photo="https://images.unsplash.com/photo-1693497409545-baa678088069?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fHx8&auto=format&fit=crop&w=700&q=60"
                    cardTitle="Ride to Freedom: Desvendando Histórias nos Parques de Diversão">
                </right-card>
            </div>

        </div>
    </div>


</div>